<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCStarterProject:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCStarterProject_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVCStarterProject/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCStarterProject" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.18.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.18.RELEASE" />
          <element id="library" level="project" name="jstl:jstl:1.2" />
          <element id="library" level="project" name="org.hibernate.validator:hibernate-validator:6.0.17.Final" />
        </element>
      </element>
    </root>
  </artifact>
</component>